@{
    ViewBag.Title = "Counter";
    Layout = "~/Views/WebsiteContentReader/Layout/MasterLayout.cshtml";
}

<div class="heading"><h1>Webiste Content Reader</h1></div>
@model WebsiteContentReader.Models.ContentReader.WebsiteData

@using (Html.BeginForm("WebsiteContentCountResult", "WebsiteContentReader"))
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.Label("WebSite URL") @Html.Raw(" : ")
                @Html.TextBoxFor(m => m.WebsiteURL, null, new { @placeholder = "Please enter website url", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.WebsiteURL, string.Empty,
                       new { @class="required-msgblock" })
            </div>
            <hr />
            <div class="borrow-btn-section">
                <input type="submit" id="btnSubmitWebsiteUrl" value="GetWebSite Result" class="btn btn-info" />
            </div>
        </div>
    </div>
}